Flask==3.1.1
flask-cors==6.0.1
numpy==2.1.2
opencv-python==4.11.0.86
Pillow==11.0.0
scipy==1.15.3
dominate==2.9.1

# PyTorch (for CUDA 12.1)
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121

# Python version constraint
python_version >= "3.10,<3.11"
